/* Add your code in each class */
body {
  background-color: purple;
}
.container {
}
.movie-card {
}
.movie-image {
  background-image: url(/assets/harrypotter.jpg);
}
.movie-details-container {
}
.descriptions {
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.capsule{ 
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid black
}
